body {
    background-color: aquamarine;
}

main.container {
    margin: 30px auto;
    text-align: center;
    padding: 10px 20px;
    max-width: 520px;
    height: 600px;
    overflow: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    color: #666;
}

    div#addButton {
        max-width: 360px;
        height: 30px;
        border: slategrey solid 1px;
        box-shadow: 0 0 2px 2px grey ;
    }

        input#nextTodoItem {
            overflow:auto;
            font-size: small;
            height: 24px;
            padding-right: 0;
            border: 0;
        }
        
        input#nextTodoItem:focus {
            outline: none;
        }

        button#addTodoItem {
            background-color: darkviolet;
            color: white;
            height: 100%;
            padding-left: 2px;
            border: 0;
            box-shadow: 0 0 2px 2px grey ;
        }

    div#mainList {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

        ul#listTitle {
            padding: 0;
            /* font-size: large;
            font-weight: bold;
            text-align: left; */
            width: 100%;
            list-style-type: none;
        }

/* A lenti css a js-ben létrehozott elemekre vonatkozik!*/

button.okBtn, button.delBtn {
    background-size: 100% 100%;
    height: 20px;
    width: 20px;
    color: white;
    background-color: white;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }

  button.okBtn {
      margin-right: 10px;
      background-image: url(./images/confirmIcon.svg);
  }

  button.delBtn {
      background-image: url(./images/deleteIcon.svg);
  }
